.albumImageContainer{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
    max-width: 100vw;
    filter: contrast(1.1);
  }

  .albumContainer{
    width: 100vw;
    height: 100%;
    backdrop-filter: blur(3rem);
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    gap: 4rem;
  }
  .albumTop{
    display: flex;
    justify-content: start;
    padding-left: 4%;
    padding-top: 3rem;
    align-items: center;
    gap: 3rem;
    position: relative;
    top: 6rem;
  }
  
  .albumTopLeftImg{
    width: 100%;
    border-radius: 5px;
  }
  
  .albumTopLeft{
    width: 23rem;
  }
  .albumTopRight{
    display: flex;
    width: 85%;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: white;
  }

  .albumTopRightContents{
    width: 100%;
  }
  
  .albumTopRightContents:nth-child(1) div:nth-child(1){
    color: #23a6d5;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .albumTopRightContents:nth-child(1) h1{
    font-size: 3rem;
    font-weight: bolder;
  }
  
  .albumTopRightContents:nth-child(2){
    padding: 1rem 0;
    font-size: 1.1rem;
  }
  
  .albumTopRightContents:nth-child(2) div{
    margin-bottom: 0.6rem;
  }
  
  .albumTopRightContents:nth-child(2) div:nth-child(1){
    font-weight: bold;
    font-size: 1.2rem;
  }

  .albumTopRightContents:nth-child(2) div:nth-child(2){
    text-transform: capitalize;
  }
  
  .albumTopRightContents:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.4rem;
    width: 50%;
    font-weight: 600;
  }
  
  .albumRightContentsButton:hover,.albumShuffleIcon:hover,.albumAddIcon:hover,.albumShareIcon:hover,.albumOptionsIcon:hover{
    cursor: pointer;
    color: lightseagreen;
    font-size: 1.1rem;
  }
  
  
  .albumBottom {
    width: 100vw;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    margin-top: 10rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .albumBottomLeft{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 34%;
  }
  
  
  
  .albumBottom .albumBottomLeft img{
    width: 5rem;
    margin-left: 2rem;
    margin-right: 1rem;
  }

  .albumBottom{
    gap: 2rem;
    width: 100%;
    padding: 2rem 0;
  }
  
  
  .albumBottomContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1417px;
    margin: auto;
  }
  
  .albumBottomLeft{
    display: flex;
    justify-content: start;
  }
  
  .albumBottomRight{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .artistSongImageContainer{
    position: relative;
  }

  .artistSongImageContainer img{
    border-radius: 5px;
  }
  
  .albumBottomRightIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .artistSongMood{
    color: gray;
  }

  .playIconAlbum{
    position: absolute;
    top: 31%;
    left: 41%;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 50%;
    align-items: center;
    backdrop-filter: blur(9px);
    cursor: pointer;
  }

  @media (width<=936px){
    .albumBottomLeft{
      width: 60%;
    }
    .albumBottomRight{
      justify-content: end;
    }
  }

  @media (width<=633px){
    .albumTop{
      display: flex;
      flex-direction: column;
    }
     
    div.albumTopRightContents.albumControls{
      width: 21rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    .albumTopLeft{
      display: flex;
      justify-content: center;
    }

    .albumTopLeftImg{
      width: 17rem;
    }

    .albumTopRight{
      text-align: center;
    }
    
    .albumBottom{
      padding:1rem 1rem;
    }

    .albumBottomLeft{
      width: 45rem;
    }

    .albumBottom .albumBottomLeft img{
      margin-left: 0.5rem;
    }
  }