@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.home{
     position: relative;
        max-width: 1500px;
        top: 5rem;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        font-family: 'Roboto',sans-serif;
}
