@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.home{
     position: relative;
        padding-right: 1rem;
        top: 5rem;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        font-family: 'Roboto',sans-serif;
}

.light{
        background-color: black;
        color: white;
}

.dark{
        background-color: white;
        color: black;
}