.navbar{
    display: flex;
    color: white;
    height: 5rem;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.scrolled{
    background-color: rgba(0, 0, 0, 0.6) !important;
    backdrop-filter: blur(1rem);
}

.navbarLeft{
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    align-items: center;
}

.navLinks{
    display: flex;
    width: 70%;
    justify-content: start;
    gap: 4rem;
    text-transform: uppercase;
    font-size: 1rem;
}

.navLinkHome, .navLinkPodcast, .navLinkLibrary{
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 0.3rem;
}

.navLinkHome:hover, .navLinkPodcast:hover, .navLinkLibrary:hover{
    color: aqua;
}

.navLogo{
    position: relative;
}

.logoImg{
    width: 11rem;
    height: 3rem;
}

.navbarRight{
    width: 50%;
    display: flex;
    gap: 2rem;
    justify-content: end;
    align-items: center;
    padding: 0 2rem 0 0;
} 

.inputForm{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.inputSearch{
    width: 35%;
    height: 2.1rem;
    border-radius: 20px;
    background-color: white;
    outline: none;
    color: black;
    text-align: center  ;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.inputSearch:focus{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.inputSearch::placeholder{
    content: 'Akash';
    text-align: center;
    color: darkgray;
}

.searchIconContainer{
    position: relative;
}

.searchIcon{
    position: absolute;
    top: -0.7rem;
    right: 0.5rem;
}

.userLogo{
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.lightModeIcon,.userLogoIcon,.searchIcon{
    cursor: pointer;
}