@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navbar{
    display: flex;
    color: white;
    height: 5rem;
    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: "Roboto",sans-serif;
    border-bottom: 0.1px solid rgb(96, 96, 96);
}

.scrolled{
    background-color: rgba(0, 0, 0, 0.6) !important;
    backdrop-filter: blur(1rem);
    border-bottom: none;
}

.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
    box-shadow: 10px 10px 10px solid black;
}

.navbarLeft{
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    align-items: center;
}

.navLinks{
    display: flex;
    width: 70%;
    justify-content: start;
    gap: 4rem;
    text-transform: uppercase;
    font-size: 1rem;
}

.navLinkHome, .navLinkPodcast, .navLinkLibrary{
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 0.3rem;
}

.navLinkLibrary{
    position: relative;
}

.libraryHover{
    position: absolute;
    top: 1.2rem;
    width: 16rem;
    height: 6rem;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(1rem);
    color: white;
    backdrop-filter: blur(1rem);
    border-radius: 5px;
}

.navItems{
    display: flex;
    height: 100%;
    justify-content: center;
    gap: 0.4rem;
    flex-direction: column;
    align-items: start;
}

.hoverItem{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 1rem;
    font-size: 0.8rem;
}

.hoverItem:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}
.navHoverMusicItem{
    border-bottom: 2px solid gray;
}


.navLinkHome:hover, .navLinkPodcast:hover, .navLinkLibrary:hover{
    color: aqua;
}

.navLogo{
    position: relative;
}

.logoImg{
    width: 11rem;
    height: 3rem;
}

.navbarRight{
    width: 50%;
    display: flex;
    gap: 2rem;
    justify-content: end;
    align-items: center;
    padding: 0 2rem 0 0;
} 

.inputForm{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.inputSearch{
    width: 14rem;
    height: 2.1rem;
    border-radius: 20px;
    background-color: white;
    outline: none;
    color: black;
    text-align: center  ;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.inputSearch:focus{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.inputSearch::placeholder{
    content: 'Akash';
    text-align: center;
    color: darkgray;
}

.searchIconContainer{
    position: relative;
}

.searchIcon{
    position: absolute;
    top: -0.7rem;
    right: 0.5rem;
}

.userLogo{
    width: 15%;
    display: flex;
    justify-content: space-between;
    position: relative;
    /* border: 2px solid green; */
}

.lightModeIcon,.userLogoIcon,.searchIcon,.darkModeIcon{
    cursor: pointer;
}

/* .userLogoDiv{
    position: absolute;
    top: 4rem;
    right: 0.2rem;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1rem);
    border-radius: 5px;
    width: 14rem;
    height: 6rem;
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;
    z-index: 999999;
    color: black;
} */

.musicPreferenceDiv{
    color: white;
}

@media (width<=1280px){
    .navbarLeft{
        gap: 2rem;
    }
    .navbarRight{
        gap: 2rem;
    }
    .userLogo{
        width: 30%;
    }
}

/* @media (width>=643px){

} */