.searchPage{
    position: absolute;
    top: 7rem;
    left: 2rem;
    width: 95%;
    margin: auto;
    max-width: 100%;
}

h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem ;
}

.topButtonsContainer,.middleButtonsContainer,.bottomButtonsContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 2rem;
    column-gap: 3rem;
    height: 25vh;
}

.bottomButtonsContainer{
    height: 70vh;
}

.searchTop{
    padding: 0 1rem;
}
.searchMiddle,.searchBottom{
    padding: 2rem 1rem;
}

.searchButton{
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    scroll-behavior: smooth;
}