@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.updateFormContainer{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
  }

  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

.updatePassForm{
  width: 24rem;
  height: 32rem;
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 0 1rem;
}

.updatePassFormTop{
  display: flex;
  gap: 0rem ;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 75%;
}

.loginFormTop label{
  font-size: 18px;
}

.updatePasswordInputs{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.userNameContainer ,.userPasswordContainer , .userNewPasswordContainer {
  padding: 0.3rem 0;
}

.userNameContainer input,.userPasswordContainer input, .userNewPasswordContainer input{
  width: 98%;
  padding: 0 5%;
  height: 2.3rem;
  border: 2px solid black;
  border-radius: 3px;
  outline: none;
}

.userNameContainer input:focus,.userPasswordContainer input:focus, .userNewPasswordContainer input:focus{
  outline: 2px solid lightseagreen;
  border: none;
}

.formBottom{
  margin-top: 1rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goBackUpdateForm{
  text-align: center;
  position: relative;
}

.goBackLink{
  color: lightseagreen;
  text-decoration: none;
}

.goBackLink::before {
  position: absolute;
  top: 9px;
  left: 5rem;
  content: '';
  width: 3rem;
  height: 2px;
  background-color: lightseagreen;
}

.goBackLink::after {
  position: absolute;
  top: 9px;
  right: 5rem;
  content: '';
  width: 3rem;
  height: 2px;
  background-color: lightseagreen;
}

.goBackLink:hover{
  color: #e73c7e;
}
